/ChangeTest.class
/DisplayListeningTest.class
/EmptyMsgLoopTest$displayListening.class
/EmptyMsgLoopTest.class
/IndicatorLightListeningTest.class
/LogFileTest.class
/OutOfOrderLightListeningTest.class
/VendingMachineTest.class
/msgLoopTest$myDisplayListening.class
/msgLoopTest.class
/testChange.class
/testOutOfOrderLight.class
